---
interface Props {
  text: string
  linkUrl: string
}

const { text, linkUrl } = Astro.props
---

<a class="secondary-button" href={linkUrl}>
  {text}
</a>

<style>
  .secondary-button {
    color: var(--primary);
    display: inline-flex;
    border: 1px solid var(--primary);
    padding: 4px 12px;
    border-radius: 16px;
    font-size: var(--d4);
    line-height: 38px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
  }

  .secondary-button:hover {
    background-color: var(--white1);
  }

  @media screen and (max-width: 1024px) {
    .secondary-button {
      padding: 3px 9px;
      font-size: var(--m4);
      line-height: 30px;
    }
  }
  @media (prefers-color-scheme: dark) {
    .secondary-button:hover {
      background-color: var(--black1);
    }
  }
</style>
